@import url("./base/reset.css");
@import url("./base/typography.css");
@import url("./utilities/variables.css");
@import url("./layout/container.css");
@import url("./utilities/animations.css");

.umbrella-preview {
  position: relative;
  margin-bottom: 20px;
  width: 300px;
  transition: all 1s ease-in-out;
}

#umbrella-image {
  width: 300px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#umbrella-image.visible {
  opacity: 1;
}
#logo-image {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100px;
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}

.umbrella-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: left;
  flex-direction: column;
}
.umbrella-controls > h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  text-align: left;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.color-swatches {
  display: flex;
  gap: 10px;
}

.color-swatch {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.color-swatch:hover {
  transform: scale(1.1);
}

/* Special style for the selected swatch */
.selected {
  border: 3px solid #000;
  transform: scale(1.3);
}

.pink {
  background-color: var(--pink-color);
  border: 5px solid var(--pink-bgColor);
}

.blue {
  background-color: var(--blue-color);
  border: 5px solid var(--blue-bgColor);
}

.yellow {
  background-color: var(--yellow-color);
  border: 5px solid var(--yellow-bgColor);
}

.upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.upload-logo {
  display: flex;
  flex-direction: column;
}
.upload-logo input[type="file"] {
  display: none;
}

.upload-logo-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 6px 0px;
  gap: 4px;
}
.upload-logo-texts > h2 {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}
.upload-logo-texts > p {
  font-size: 1rem;
  margin-bottom: 7px;
  padding: 0;
  margin: 0;
}
.upload-logo-texts > span {
  font-size: 0.8rem;
  color: #777;
}
#logo-upload-button {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--blue-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 400px;
  max-height: 20px;
  overflow: hidden;
  /* text-wrap: wrap ; */
}
.upload_icon {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: 10px;
  color: #fff;
  fill: #fff;
}
#remove_icon {
  position: absolute;
  right: 10px;
  color: #fff;
  top: 6px;
  font-size: 1.2rem;
  cursor: pointer;
}
.upload-logo label:hover {
  background-color: var(--primary-color);
}

#upload-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}
/* Changing loader color with theme */
body.pink #loader {
  color: var(--pink-color);
}

body.blue #loader {
  color: var(--blue-color);
}

body.yellow #loader {
  color: var(--yellow-color);
}

/* Changing upload logo label color with theme */
body.pink .upload-logo label {
  background-color: var(--pink-color);
}

body.blue .upload-logo label {
  background-color: var(--blue-color);
}

body.yellow .upload-logo label {
  background-color: var(--yellow-color);
}

.upload-logo label:hover {
  opacity: 0.8;
}

/* Loader styling */
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  z-index: 2;
}
#upload-loader {
  position: absolute;
  z-index: 10;
  size: 10px;
  left: 10px;
  top: 6px;
  color: #fff;
  fill: #fff;
}
#upload-loader svg {
  color: inherit;
  animation: rotate 1s linear infinite;
}
#loader svg {
  color: inherit;
  width: 100%;
  height: 100%;
  animation: rotate 1s linear infinite;
}

#loader svg circle {
  stroke: currentColor;
  stroke-dasharray: 150;
  stroke-dashoffset: 0;
  animation: dash 1.5s cubic-bezier(0.29, 1.01, 1, -0.68) infinite;
}
